---
layout: index
title: qii404 | 齐士博博客
keywords: 齐士博,qii404,php,javascript,qishibo,码农,前端,技术,IT
description: 一个叫齐士博的人写的技术博客，网名叫小齐炖博士，也有叫qii404的，写字的，码农一个，web开发
---

{% for post in paginator.posts %}

    <div class="qii-post well">

        <blockquote>
          <h3><a href="{{ site.baseurl }}{{ post.url }}" class="post-title">{{ post.title }}</a></h3>
          <footer><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date | date: '%Y-%m-%d' }}</footer>
        </blockquote>

        <div class="post-preview">
            {{ post.excerpt }}
        </div>

        <div class="post-tags">
        {% for tag in post.tags %}
            <!-- <kbd>{{tag}}</kbd> -->
            <span class="label label-default"><a class="click-tags" href="{{tag | prepend:'/tags?tag='}}">{{ tag }}</a></span>
        {% endfor %}
        </div>
    </div>

{% endfor %}
