<style type="text/css">
    .page-donate{
        margin-top: 20px;
    }
    .page-donate img{
        width: 20%;
        min-width: 100px;
        max-width: 200px;
        margin-right: 10px;
    }
</style>

<div class="page-donate container">
    <hr>
    <p>觉得不错？ 哈哈 感谢赏个键盘磨损钱~（左微信 右支付宝）</p>
    <img class="wechat-donate" src="https://imgup.qii404.me/71405cably1fchwyguheej208c08c0up.jpeg" alt="wechat 8.8" />
    <img class="alipay-donate" src="https://imgup.qii404.me/71405cably1fchwyguitnj208c08c0uv.jpeg" alt="alipay 8.8" />
</div>
